* {
    background:     #1F243080;
    background-alt: #1F2430FF;
    foreground:     #FFFFFFFF;
    selected:       #877BB0FF;
    active:         #877BB0FF;
    urgent:         #FFA759FF;

    font: "FiraCode Nerd Font 10";
}
