Space: magic-space

"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

set completion-ignore-case on

# Treat underscores and hyphens as equal
set completion-map-case on

set mark-symlinked-directories on

#set show-all-if-ambiguous on

set colored-completion-prefix on

# Show me type of file in completion
set colored-stats on
set visible-stats on
